# Ignore sensitive files
client_secret.json
token.json

#Ignore Virtual Environment
venv/

#Ignore python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm-specific files
.idea/
*.iml

# Other unnecessary files
.DS_Store